{% extends 'base.html' %}
{% load static %}
{% block tittle %}Home{% endblock %}
{% block css %}
<style>
    .products{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: baseline;
        gap: 15px;
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        text-align: center;
        font-family: arial;
      }
      
      .price {
        color: grey;
        font-size: 22px;
      }
      
      .card button {
        border: none;
        outline: 0;
        padding: 12px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
      }
      
      .card button:hover {
        opacity: 0.7;
      }
</style>
{% endblock %}

{% block sidebar %}
<div class="col-md-2 my-2">{% include 'includes/sidebar.html' %}</div>
{% endblock %}

{% block banner %}
<div class="col-md-7 my-2">
  {% include 'includes/banner.html' %}
</div>
{% endblock %}

{% block content %}
<section class="products"></section>
{% endblock %}